<h1>Listing currencies</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Rounding</th>
    <th>Active</th>
    <th>Accuracy</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @currencies.each do |currency| %>
  <tr>
    <td><%= currency.code %></td>
    <td><%= currency.name %></td>
    <td><%= currency.rounding %></td>
    <td><%= currency.active %></td>
    <td><%= currency.accuracy %></td>
    <td><%= link_to 'Show', currency %></td>
    <td><%= link_to 'Edit', edit_currency_path(currency) %></td>
    <td><%= link_to 'Destroy', currency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Currency', new_currency_path %>
