<%= simple_form_for(@carton_box) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :length %>
    <%= f.input :width %>
    <%= f.input :height %>
    <%= f.association :box_style %>
    <%= f.association :material_code %>
    <%= f.input :customer_length %>
    <%= f.input :customer_width %>
    <%= f.input :customer_height %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
