<h1>Listing box_styles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Draft drawing</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @box_styles.each do |box_style| %>
  <tr>
    <td><%= box_style.name %></td>
    <td><%= box_style.draft_drawing %></td>
    <td><%= link_to 'Show', box_style %></td>
    <td><%= link_to 'Edit', edit_box_style_path(box_style) %></td>
    <td><%= link_to 'Destroy', box_style, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Box style', new_box_style_path %>
