<%= simple_form_for @product, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :stocked %>
    <%= f.input :sale %>
    <%= f.input :purchase %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary" %>
    <%= link_to "Cancel", products_url, :class => "btn" %>
  </div>
<% end %>
